<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/main.css">
</head>
<body>
  <nav>
  <div style="display: flex; gap: 20px;">
    <a href="/landing">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Register A Company</a>
  </div>
</nav>
  {{{body}}}
</body>
</html>